<form class="edit-post-form" data-post-id="{{id}}">
    <h3> Edit Post</h3>
    <h4>Title</h4>
    <textarea id="post-title-input">{{title}}</textarea>
    <h4>Contents</h4>
    <textarea id="post-contents-input">{{contents}}</textarea>
    <div class="button-div">
    <button class="submitting-button" type="submit">update</button>
    </div>
</form>