<form class="edit-post-form">
    <h3> Edit Post</h3>
    <h4>Title</h4>
    <input type="text" id="post-title-input" value="{{title}}"/>
    <h4>Contents</h4>
    <input type="text" id="post-title-input" value="{{contents}}"/>
    <div class="button-div">
    <button id="create-button" type="submit">update</button>
    </div>
</form>