<div class="login-page">

    <div class="section-div">
        <h2>Login</h2>
        <form class="login-form">
            <div class="form-group">
                <p>email:</p>
                <input type="text" id="email-login" />
            </div>
            <div class="form-group">
                <p>password:</p>
                <input type="password" id="password-login" />
            </div>
            <div class="button-div">
                <button type="submit">login</button>
            </div>
        </form>
    </div>

    <div class="section-div">
        <h2>Sign Up</h2>
        <form class="signup-form">
        <div class="form-group">
            <p>name:</p>
            <input type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <p>email:</p>
            <input type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <p>password:</p>
            <input type="password" id="password-signup" />
        </div>
        <div class="button-div">
            <button type="submit">signup</button>
        </div>
        </form>
    </div>

</div>

<script src="./js/login.js"></script>