<div class="new-post-container">
    <h3> Write a New Post</h3>
    <h4>Title</h4>
    <input type="text" id="post-title-input" />
    <h4>Contents</h4>
    <input type="text" id="post-contents-input" />
    <div class="button-div">
    <button id="create-button">create</button>
    </div>
</div>

<script src="./js/new-post.js"></script>