
<form class="new-post-form">
    <h3> Write a New Post</h3>
    <h4>Title</h4>
    <textarea id="post-title-input"></textarea>
    <h4>Contents</h4>
    <textarea id="post-contents-input"></textarea>
    <div class="button-div">
    <button id="submitting-button" type="submit">create</button>
    </div>
</form>

<script src="./js/new-post.js"></script>