<div class="all-posts-container">
  <div>
    <h2>
      {{title}}
    </h2>
    <p class="created-by">Created by {{user.username}}</p>
  </div>
  <div>
    <p>
      {{contents}}
    </p>
  </div>
  <div>
    {{comment.comment}}
  </div>
</div>