body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

nav li {
  display: inline;
}

.post-container {
  border: 3px solid gray;
  border-radius: 3px;
  margin: 20px 90px;
  padding: 10px 30px;
}

.created-by {
  margin-top: -10px;
  font-size: 14px;
}

.login-page h2 {
  text-align: center;
}

.section-div {
  margin: 0px 60vh 50px 60vh;
}

.form-group p {
  margin-bottom: 1px;
}

.form-group input{
  margin-bottom: 10px;
  width: 240px;
}


.button-div {
  text-align: center;
}

.login-to-comment {
  text-align: center;
}

