body {
  background-image: url('bg.jpg');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

/* Need to center everything */
main {
  justify-content: center;
}

header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}

.my-posts {
color: white;
}

a:active, a:visited, a:link {
text-decoration: none;
}

nav li {
  display: inline;
}

nav li a {
  color:#1b89bc;
  margin-right: 4vw;
  margin-left: -1vw;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.post-container {
  /* top right bottom left */
  margin: 0px 15vw 5vh 15vw;
  padding: 2vh 4vw;
  background-color: white;
  border-radius: 0px;
  filter: drop-shadow(3px 3px 3px gray);
}

.post-container h3 {
  font-size: .9rem;
  width: 50%;
}

.post-container h4 {
  margin-top: 20vh;
  font-size: 5rem;
}

/* displayed comments */
.comments {
  /* top right bottom left */
  margin: 0px 30vw 5vh 30vw;
  background-color: white;
  padding: 2vh 2vw;
}

.comments h4 {
  font-size: .9rem;
  }

.comments p {
font-size: .9rem;
}

.login-page {
  text-align: center;
}

/* for both login and sign up */
.section-div {
  /* top right bottom left */
  margin: 0px 30vw 5vh 30vw;
  background-color: white;
  padding-bottom: 5vh;
  padding-top: 1vh;
}

.form-group p {
  margin-bottom: 1px;
}

.form-group input{
  margin-bottom: 10px;
  width: 240px;
}

.button-div {
  text-align: center;
}

.button-div button {
  background-color: #1b89bc;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
  font-size: 18px;
}

.post-container button {
  background-color: #1b89bc;
  color: white;
  border: none;
  height: 20px;
  width: 70px;
  font-size: 13px;
  margin-right: 20px;
}

.login-to-comment {
  text-align: center;
}

/* to add a comment */
.comment-box-div {
  margin: 0px 35vw 5vh 35vw;
  background-color: white;
  text-align: center;
}

.comment-box-div h3 {
  font-size: .8rem;
  margin-top: 5vh;
  padding-top: 5vh;
}

.comment-box-div button {
margin-bottom: 3vh;
margin-top: 3vh;
}

.new-post-form {
  margin: 0px 20vw 3vh 20vw;
  text-align: center;
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#post-title-input {
  width: 200px;
}

#post-contents-input{
  height: 200px;
  width: 400px;
}

.submitting-button {
  margin-top: 30px;
}

.edit-post-form {
  margin: 0px 20vw 3vh 20vw;
  text-align: center;
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.two-buttons {
  display: inline-flex;
}